<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangzhe.mapper.CommentMapper">

    <insert id="insertComment" parameterType="com.zhangzhe.pojo.Comments">
         INSERT INTO `comments`
        ( `id` ,
          `father_comment_id`,
          `to_user_id` ,
          `video_id`,
          `from_user_id` ,
          `comment` ,
          `create_time` )
         VALUES(#{id},
                #{fatherCommentId},
                #{toUserId},
                #{videoId},
                #{fromUserId},
                #{comment},
                #{createTime}
               )
    </insert>

    <select id="queryComments" resultType="com.zhangzhe.pojo.response.vo.CommentsVO">
        select c.*,u.face_image as face_image,u.nickname,tu.nickname as toNickname
        from comments c
        left join users u on c.from_user_id = u.id
        left join users tu on c.to_user_id = tu.id
        where c.video_id = #{videoId} order by c.create_time desc
    </select>

</mapper>