<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangzhe.mapper.UsersMapper">

    <insert id="insertUsers" parameterType="com.zhangzhe.pojo.Users">
        INSERT INTO `users`
        ( `id`,
          `username`,
          `password`,
          `face_image` ,
          `nickname` ,
          `fans_counts` ,
          `follow_counts` ,
          `receive_like_counts` )
          VALUES(#{id},
                 #{username},
                 #{password},
                 #{faceImage},
                 #{nickname},
                 #{fansCounts},
                 #{followCounts},
                 #{receiveLikeCounts})
    </insert>

    <update id="updateUserFaceImage" parameterType="com.zhangzhe.pojo.Users">
        UPDATE `users`
        SET
        <if test="faceImage != null">
            face_image = #{faceImage}
        </if>
        WHERE id = #{id}
    </update>

    <update id="addReceiveLikeCount">
        update `users` set receive_like_counts=receive_like_counts+1 where id=#{id}
    </update>

    <update id="reduceReceiveLikeCount">
        update `users` set receive_like_counts=receive_like_counts-1 where id=#{id}
    </update>

    <select id="selectUserByUsername" resultType="com.zhangzhe.pojo.Users">
        SELECT `id`,
              `username`,
              `password`,
              `face_image` ,
              `nickname` ,
              `fans_counts` ,
              `follow_counts` ,
              `receive_like_counts`
        FROM `users`
        WHERE username = #{userName}
    </select>

    <select id="queryUserInfoById" resultType="com.zhangzhe.pojo.Users">
        SELECT `id`,
              `username`,
              `password`,
              `face_image` ,
              `nickname` ,
              `fans_counts` ,
              `follow_counts` ,
              `receive_like_counts`
        FROM `users`
        WHERE id = #{id}
    </select>

    <update id="addFansCount" parameterType="String">
  	update users set fans_counts=fans_counts+1 where id=#{userId}
  </update>

    <update id="reduceFansCount" parameterType="String">
  	update users set fans_counts=fans_counts-1 where id=#{userId}
  </update>

    <update id="addFollersCount" parameterType="String">
  	update users set follow_counts=follow_counts+1 where id=#{userId}
  </update>

    <update id="reduceFollersCount" parameterType="String">
  	update users set follow_counts=follow_counts-1 where id=#{userId}
  </update>


</mapper>